@font-face {
  font-family: "iconfont"; /* Project id 3316043 */
  src: url('iconfont.woff2?t=1649521941932') format('woff2'),
       url('iconfont.woff?t=1649521941932') format('woff'),
       url('iconfont.ttf?t=1649521941932') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-transfer:before {
  content: "\e62a";
}

.icon-ruku:before {
  content: "\e606";
}

.icon-tiaoboruku:before {
  content: "\e608";
}

.icon-guizi:before {
  content: "\e61b";
}

.icon-yuechi:before {
  content: "\eae6";
}

.icon-chukuguanli:before {
  content: "\e622";
}

.icon-xinchuku:before {
  content: "\e614";
}

.icon-zhuye:before {
  content: "\e65d";
}

.icon-cangkukucun:before {
  content: "\e633";
}

.icon-set:before {
  content: "\e76c";
}

.icon-bianma:before {
  content: "\e637";
}

